* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: monospace;
}

body {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 75vh;
}

h1 {
    font-size: 60px;
}

nav {
    font-size: 40px;
    border: 1px solid grey;
    border-radius: 10%;
}

li {
    list-style-type: none;
    margin: 20px;
}

#tic-tac-toe {
    color: skyblue;
}

#snake {
    color: lightgreen;
}

#mancala {
    color: red;
}

#connect-four {
    color: purple;
}

a:hover {
    text-decoration: underline;
}
