* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: lightgreen; */
    color: black;
    background: linear-gradient(-45deg, #004C00, #1E8E1E, #00FF00, #8EFA7D);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

h1 {
    margin: 10px;
    font-size: 50px;
}

.game-buttons {
    background-color: black;
    color: lightgreen;
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10%;
    box-shadow: 0 0 10px 1px black;
}

.scores {
    margin: 20px;
    font-size: 25px;
    display: inline-block;
}

#game-over {
    display: none;
    position: absolute;
    z-index: 1;
    font-size: 50px;
    font-weight: bold;
    background-color: lightgreen;
    color: black;
    border: solid;
    text-align: center;
    padding: 20px;
    top: 50vh;
    box-shadow: 0 0 10px 5px green;
}

#board {
    width: 70vh;
    height: 70vh;
    background-color: black;
    box-shadow: 0 0 10px 5px black;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
}

.snakeBody {
    background-color: green;
}

.apple {
    background-color: red;
    border-radius: 50%;
}
