* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    color: darkblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: skyblue;
}

h1 {
    text-align: center;
    font-size: 50px;
    margin: 10px;
}

#oneP-twoP {
    margin-bottom: 20px;
    font-size: 20px;
}

#start {
    margin-bottom: 20px;
    padding: 5px;
    font-size: 20px;
}

#reset {
    margin-bottom: 20px;
    padding: 5px;
    font-size: 20px;
}

button,
select {
    border-radius: 10%;
    border: 1px solid black;
    color: blue;
    box-shadow: 0 0 10px 1px blue;
}

#players {
    display: flex;
    justify-content: space-between;
    width: 50vh;
    margin-bottom: 40px;
    font-size: 20px;
}

.playerAndName {
    display: flex;
    justify-content: center;
    padding: 5px;
}

#player-one,
#player-two {
    margin-right: 20px;
}

.highlight {
    border: 3px solid blue;
}

#game-over {
    display: none;
    position: absolute;
    z-index: 1;
    width: 30vh;
    font-size: 40px;
    font-weight: bold;
    background-color: whitesmoke;
    border: solid;
    text-align: center;
    padding: 10px;
    top: 50vh;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px blue;
}

#game-board {
    margin: auto;
    margin-bottom: 20px;
    display: grid;
    width: 60vh;
    height: 60vh;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 10%;
    background-color: white;
    box-shadow: 0 0 10px 1px blue;
}

.cell {
    border: 3px solid darkblue;
    color: blue;
    font-size: 900%;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

#index00 {
    border-top: none;
    border-left: none;
}

#index01 {
    border-top: none;
}

#index02 {
    border-top: none;
    border-right: none;
}

#index10 {
    border-left: none;
}

#index12 {
    border-right: none;
}

#index20 {
    border-left: none;
    border-bottom: none;
}

#index21 {
    border-bottom: none;
}

#index22 {
    border-bottom: none;
    border-right: none;
}
