* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: 50px;
}

#oneP-twoP {
    margin-bottom: 20px;
    font-size: 20px;
}

#start {
    margin-bottom: 20px;
    padding: 5px;
    font-size: 20px;
}

#reset {
    margin-bottom: 20px;
    padding: 5px;
    font-size: 20px;
}

#players {
    display: flex;
    justify-content: space-between;
    width: 50vh;
    margin-bottom: 20px;
}

.playerAndName {
    display: flex;
    justify-content: center;
}

#player-one,
#player-two {
    margin-right: 20px;
}

#game-board {
    margin: auto;
    margin-bottom: 20px;
    display: grid;
    width: 75vh;
    height: 75vh;
    border: 1px solid black;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.cell {
    background-color: lightgray;
    border: solid;
    font-size: 1000%;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#index00 {
    border-top: none;
    border-left: none;
}

#index01 {
    border-top: none;
}

#index02 {
    border-top: none;
    border-right: none;
}

#index10 {
    border-left: none;
}

#index12 {
    border-right: none;
}

#index20 {
    border-left: none;
    border-bottom: none;
}

#index21 {
    border-bottom: none;
}

#index22 {
    border-bottom: none;
    border-right: none;
}
