* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #B8860B;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(-45deg, #4F0101, #93000F, #FF0000, #FF7A7A);
    background-size: 400% 400%;
    animation: gradient 10s ease-in-out infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


h1 {
    margin: 10px;
    font-size: 50px;
}

#game-board {
    margin-top: 10vh;
    width: 1300px;
    height: 500px;
    background-color: #B8860B;
    border-radius: 5%;
    display: grid;
    grid-template-columns: 1.5fr 6fr 1.5fr;
    box-shadow: 0 0 10px 5px black;
}

.mancalas {
    background-color: #966F33;
    margin: 20px;
    border-radius: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 100px 20px;
    box-shadow: inset 0 0 10px 5px black;
}

#player-cups {
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.cup {
    background-color: #966F33;
    border-radius: 50%;
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 40px 20px;
    box-shadow: inset 0 0 10px 5px black;
}

.cup:hover {
    box-shadow: inset 0 0 10px 1px red;
}

.gem {
    background: red;
    border-radius: 50%;
    margin: 1px;
    box-shadow: inset 0 0 5px 1px black;
}
